students
{
background-color:purple;
margin-left:420px;
margin-bottom:10;
margin-left:left;
text-align:italic;
font-size:15px;
}


s1
{
display:block;
}

usn,name,branch,email,college,year,address
{
display:block;
}
 
usn
{
color:orange;
}

name
{
color:white;
margin-left:10px;
}

branch
{
color:green;
margin-left:10px;
}

email
{
color:yellow;
margin-left:10px;
}

college
{
color:gray;
margin-left:10px;
}

year
{
color:red;
margin-left:10px;
}

address
{
color:pink;
margin-left:10px;
}